@model IEnumerable<ProvaGroupSoftware.Models.Unidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Condominio.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condominio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUnidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UnidadeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UnidadeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UnidadeId })
        </td>
    </tr>
}

</table>
